@use '../../styles/colors.style.modules.scss';

.table {
  width: 100%;
  font-size: small;
  border-radius: 8px;
  overflow: hidden;

  thead tr {
    font-weight: bold;
    background-color: rgba(47, 55, 174, .1);
  }

  td, th {
    padding: 12px 8px;
  }

  th {
    color: colors.$primary
  }

  tr {
    transition: background-color .3s ease-in-out;
  }

  tr:nth-child(even) {
    background-color: #F6F6F6;
  }
}


.loadingState {
  display: flex;
  justify-content: center;
  padding: 24px;
}

.emptyState {
  padding: 40px;
  text-align: center;
}