@use '../../../styles/colors.style.modules.scss';

.modeSelectorWrapper {
  margin-bottom: 0 !important;
  position: relative;

  select {
    border: none;
    background-color: transparent;
    outline: none;
    appearance: none;
    border-right: 1px solid #bdbdbd;
    position: relative;
    padding-right: 30px;
  
  }
}

.arrowDown {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

.clear {
  transition: opacity 0.2s ease-in-out !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  color: colors.$secondary;
  transform: scale(1.6);

  div {
    transform: rotate(45deg);
    font-weight: bold;
  }
}