@use  '../../styles/colors.style.modules.scss';

.outterWrapper {
  position: relative;
  
  &:focus-within {
    .innerWrapper {
      border-color: colors.$primary;
    }

    .innerWrapper i {
      color: colors.$primary;
    }
  }
}

.innerWrapper {
  border: 1px solid gray;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;

  &.optionsOpen {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  i {
    transition: color 0.3s ease-in-out;
  }

  input, textarea {
    flex-grow: 1;
    width: 0;
    border: none;
    outline: none;
    padding: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
  }

  &.disabled {
    border-color: lightgray;

    i {
      color: lightgray;
    }
  
    input {
      color: lightgray;
    }
  }
}

.innerWrapperLabel {
  display: flex !important;
  margin-bottom: 0 !important;
  padding: 12px;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.label {
  margin-bottom: 4px;
}

.description {
  font-size: small;
  font-style: italic;
  margin-top: 4px;
  color: gray;
  margin-bottom: 4px;
  transition: color 0.2s ease-in-out;
}

.outterWrapper:focus-within .description {
  color: black;
}

.error {
  border-color: red;
}

.errorMessage {
  color: red;
  font-weight: bold;
  margin-top: 4px;
  font-size: small;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 0;
  margin: 0;
  border: 1px solid colors.$primary;
  border-top: none;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
}

li.option {
  list-style: none;
  background-color: white;
  padding: 12px;
  cursor: pointer;

  &.keyboardSelected {
    background-color: colors.$lightGray;
  }
} 

.clear {
  transition: opacity 0.2s ease-in-out !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  color: colors.$secondary;
  transform: scale(1.6);

  div {
    transform: rotate(45deg);
    font-weight: bold;
  }
}

.back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.arrowDown {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-top: 5px solid colors.$secondary;
}