.reportButton{
  background-color: rgba(19,117,252,1);
  border-radius: 4px !important;
  color: white;
  padding: 4px 8px;
  font-size: small !important;
}

.clickable {
  cursor: pointer;
}

.downloadWhiteIcon {
  padding-left: 8px;
}