@use '../../styles/colors.style.modules.scss';

.modalWrapper {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9998;
  padding-top: 40px;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
}

.modal {
  position: relative;
  width: 1000px;
  max-width: 96%;
  background-color: white;
  border-radius: 8px;
  padding: 32px 24px;
  margin-bottom: 24px;
}

.overflowAuto {
  overflow-y: auto;
}

.compact {
  width: 600px;
}

.close {
  position: absolute;
  color: colors.$secondary;
  top: 14px;
  right: 14px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  cursor: pointer;
  font-size: xx-large;
  transform: rotate(45deg);
  transition: background-color 0.3s;

  &:hover {
    background-color: #f1f1f1;
  }
}

.black {
  color: white;

  &:hover {
    background-color: rgb(63, 63, 63);
  }
}

// in & out animation
.modalEnter {
  padding-top: 12px;
  opacity: 0;
}

.modalEnterActive {
  opacity: 1;
  padding-top: 40px;
  transition: all 250ms ease-out;
}

.modalExit {
  padding-top: 40px;
  opacity: 1;
}

.modalExitActive {
  padding-top: 12px;
  opacity: 0;
  transition: all 250ms ease-out;
}
